<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ms"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ms.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ms.UniversityList"
            android:label="@string/title_activity_university_list"
            android:parentActivityName="com.example.ms.MainActivity.java" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ms.MainActivity.java" />
        </activity>
        <activity
            android:name="com.example.ms.TaskList"
            android:label="@string/title_activity_task_list" >
        </activity>
        <activity
            android:name="com.example.ms.AddUniv"
            android:label="@string/title_activity_add_univ" >
        </activity>
        <activity
            android:name="com.example.ms.Edit"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name="com.example.ms.TrackIt"
            android:label="@string/title_activity_track_it"
            android:parentActivityName="com.example.ms.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ms.MainActivity" />
        </activity>

        <provider
            android:name="@string/name"
            android:authorities="@string/name" />

        <activity
            android:name="com.example.ms.Process"
            android:label="@string/title_activity_process"
            android:parentActivityName="com.example.ms.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ms.MainActivity" />
        </activity>
        <activity
            android:name="com.example.ms.Name"
            android:label="@string/title_activity_name"
            android:parentActivityName="com.example.ms.TrackIt"
            android:theme="@android:style/Theme.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ms.TrackIt" />
        </activity>
        <activity
            android:name="com.example.ms.Recos"
            android:label="@string/title_activity_recos"
            android:parentActivityName="com.example.ms.TaskList" 
            android:theme="@android:style/Theme.Holo.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ms.TaskList" />
        </activity>
    </application>

</manifest>
